.Form{
    
    font-size: x-large;
    height: 60%;
    width: 60%;
    border: 2px solid black;
    border-radius: 4px;;

}
.formHeading{
    text-align: center;
    font-size: x-large;
}
.form-center {
    display:flex;
    justify-content: center;
  }
input:focus {
    
    background-color: aliceblue;
    border: 4px;
    padding: 2%;
    width: 50%;
}
textarea:focus
{
    background-color: aliceblue;
    border: 4px;
    padding: 2%;
    
}
/*  */

.navbar {
    overflow: hidden;
    background-color: #333;
  }
  

  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .subnav {
    float: left;
    overflow: hidden;
  }
  

  .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  

  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: grey;
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: grey;
    width: 100%;
    z-index: 1;
  }
  
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  

  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  .subnav:hover .subnav-content {
    display: block;
  }
label{
  margin-left: 4px;
  margin-top: 3px;
  margin-bottom: 3px;
}
input{
  margin-left: 4px;
  margin-top: 3px;
  margin-bottom: 3px;
}
textarea{
  margin-left: 4px;
  margin-top: 3px;
  margin-bottom: 3px; 
}